@{
    ViewData["Title"] = "Datos Personales";
}

<div>
    <h1>Datos Personales</h1>
    <p>Nombre: @ViewBag.DatosPersonales.nombre</p>
    <p>Apellido: @ViewBag.DatosPersonales.apellido</p>
    <p>Fecha de Nacimiento: @ViewBag.DatosPersonales.fechaNacimiento</p>
    <p>Edad: @ViewBag.DatosPersonales.obtenerEdad()</p>
    <a href='@Url.Action("Index", "Home")'>Volver a la página principal</a>
</div>