@{
    ViewData["Title"] = "Datos Familiares";
}

<div>
    <h1>Familiares:</h1>
        @foreach (DatoFamiliar datoFamiliar in ViewBag.DatosFamiliares)
        {
                <p>Nombre: @datoFamiliar.nombre</p>
                <p>Apellido: @datoFamiliar.apellido</p>
                <p>Parentesco: @datoFamiliar.parentesco</p>
                <p>Descripción: @datoFamiliar.descripcion</p>
        }
    <a href='@Url.Action("Index", "Home")'>Volver a la página principal</a>
</div>