@{
    ViewData["Title"] = "Datos Familiares";
}

<div>
    <h1>Familiares:</h1>
        @foreach (DatoFamiliar df in ViewBag.datoFamiliar)
        {
            <p>Nombre: @df.Nombre</p>
            <p>Apellido: @df.Apellido</p>
            <p>Parentesco: @df.Parentesco</p>
            <p>Descripción: @df.Descripción</p>
        }
    <a href='@Url.Action("Index", "Home")'>Volver a la página principal</a>
</div>