@{
    ViewData["Title"] = "Datos Personales";
}

<section>
    <h1>Datos Personales</h1>
    <p><strong>Nombre:</strong> @ViewBag.DatosPersonales.Nombre</p>
    <p><strong>Apellido:</strong> @ViewBag.DatosPersonales.Apellido</p>
    <p><strong>Fecha de Nacimiento:</strong> @ViewBag.DatosPersonales.FechaNacimiento</p>
    <img src='@ViewBag.DatosPersonales.Foto' alt='Foto' />
    <a href='@Url.Action("Index2", "Home")'>Volver a la página principal</a>
</section>